//
   Created by nobizlab on 15/7/5.
doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content='width=device-width, initial-scale=1, maximum-scale=1')
        title esayPicture使用Demo
        link(type="text/css" rel="styleSheet" href="./css/easyPicture.css")
        link(type="text/css", rel="stylesheet" href="./css/index.css")

    body
        div.container
            div.img-container(data-img-number="6")
                img(src="img/img1.jpg")
                img(src="img/img2.jpg")
                img(src="img/img3.jpg")
                img(src="img/img4.jpg")
                img(src="img/img5.jpg")
                img(src="img/img6.jpg")
        script(type="text/javascript" src="./lib/jquery.js")
        script(type="text/javascript" src="./easyPicture.js")
        script(type="text/javascript" src="./index.js")
